@model IEnumerable<OrderViewModel>
@{
    ViewBag.Title = "Customers Orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var order in Model)
    {
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title"><span class="fw-bold">Order Title:</span> @order.Title</h5>
                <p class="card-title"><span class="fw-bold">Order Description:</span> @order.Description</p>
                <p class="card-text"><span class="fw-bold">Date of Creation:</span> @order.CreatedOn</p>

                @if (order.Status == "Pending")
                {
                    <p class="card-text btn-warning p-2"><span class="fw-bold">Status:</span> @order.Status</p>
                }
                else if (order.Status == "InReview")
                {
                    <p class="card-text btn-info p-2"><span class="fw-bold">Status:</span> In Review</p>
                }
                else if (order.Status == "DeclinedByAdmin")
                {
                    <p class="card-text btn-danger p-2"><span class="fw-bold">Status:</span> Declined By Admin</p>
                }
                else if (order.Status == "ReadyWithOffer")
                {
                    <p class="card-text btn-primary p-2"><span class="fw-bold">Status:</span> Ready With Offer</p>
                }
                else if (order.Status == "Completed")
                {
                    <p class="card-text btn-success p-2"><span class="fw-bold">Status:</span> Completed</p>
                }

                <p class="card-text"><span class="fw-bold">Customer Phone Number:</span> @order.CustomerPhoneNumber</p>
                <p class="card-text"><span class="fw-bold">Customer Email:</span> @order.CustomerEmail</p>
                <label class="d-block"><span class="fw-bold">Included Parts:</span></label>
                @foreach (var part in order.Parts)
                {
                    <div class="card" style="margin: 5px">
                        <label class="card-title"><span class="fw-bold">@part.Name</span></label>
                        <p class="card-text">@part.PartMaterial @part.PartThickness mm - @part.Quantity pcs</p>
                        <form asp-controller="Part" asp-action="DownloadScheme" asp-route-schemeUrl="@part.SchemeUrl" method="post">
                            <button class="btn-sm btn-info" type="submit">Download Part Scheme</button>
                        </form>
                    </div>
                }
                <div class="card-footer">
                    @if (order.Status == "Pending")
                    {
                        <form class="d-inline" asp-controller="Order" asp-action="MarkAsReviewed" asp-route-orderId="@order.Id" method="post">
                            <button class="btn-sm btn-warning" type="submit">Mark For Review</button>
                        </form>
                    }

                    @if (order.Status != "ReadyWithOffer" && order.Status != "DeclinedByAdmin" && order.Status != "Completed")
                    {
                        <a style="text-decoration: none" asp-area="" asp-controller="Offer" asp-action="Create" asp-route-orderId="@order.Id" class="btn-sm btn-primary">Send Offer</a>
                        <a style="text-decoration: none" asp-area="" asp-controller="Order" asp-action="Decline" asp-route-orderId="@order.Id" class="btn-sm btn-danger">Decline Order</a>
                    }

                </div>
            </div>
        </div>

    }
</div>