@model OfferFormModel
@{
    ViewData["Title"] = "Create new Offer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="Price">Calculated Price</label>
        <input asp-for="Price" class="form-control" type="number">
        <span asp-validation-for="Price" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDueDate" class="control-label"></label>
        <input asp-for="DeliveryDueDate" class="form-control" type="date" />
        <span asp-validation-for="DeliveryDueDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes"></label>
        <textarea asp-for="Notes" rows="4" class="form-control"></textarea>
        <span asp-validation-for="Notes" class="small text-danger"></span>
    </div>

    <div class="text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Send Offer" )>
    </div>

</form>

<h2>Order Content</h2>
<div class="row">
        <div class="card d-flex justify-content-center align-items-center" style="width: 25rem; margin-left: 5px">
            <div class="card-body">
                <h5 class="card-title"><span class="fw-bold">Order Title:</span> @Model.Order.Title</h5>
            <p class="card-title"><span class="fw-bold">Order Description:</span> @Model.Order.Description</p>
            <p class="card-text"><span class="fw-bold">Date of Creation:</span> @Model.Order.CreatedOn</p>
            <p class="card-text"><span class="fw-bold">Phone Number:</span> @Model.Order.CustomerPhoneNumber</p>
            <p class="card-text"><span class="fw-bold">Customer Email:</span> @Model.Order.CustomerEmail</p>
                <label class="d-block"><span class="fw-bold">Included Parts:</span></label>
            @foreach (var part in Model.Order.Parts)
                {
                    <div class="card" style="margin: 5px">
                        <label class="card-title"><span class="fw-bold">@part.Name</span></label>
                        <p class="card-text">@part.PartMaterial @part.PartThickness mm - @part.Quantity pcs</p>
                    </div>
                }
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}