@model OfferDetailsViewModel

@{
    ViewData["Title"] = "Offer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="card col-md-4">
        <div class="card-body">
            <h2 class="card-title">Offer</h2>
            <p class="card-text">@Model.AdminNotes</p>
            <p class="card-text"><span class="fw-bold">Calculated Price:</span> @Model.Price€</p>
            <p class="card-text"><span class="fw-bold">Expected time for Parts production:</span> @Model.ProductionDays days</p>
            <p class="card-text"><span class="fw-bold">Created on:</span> @Model.CreatedOn</p>

            @if (Model.IsAccepted)
            {
                <p class="card-text bg-success" style="padding: 4px; border-radius: 5px">Accepted</p>
            }
            else
            {
                <form asp-controller="Offer" asp-action="Accept" asp-route-offerId="@Model.Id" method="post">
                    <button class="btn btn-success" type="submit" onclick="return confirm('Are you sure you want to accept our offer for order: @Model.Order.Title')">Accept Offer</button>
                </form>
            }

            @if (!Model.IsCustomerContacted && Model.Order.Status == "Completed")
            {
                <p class="card-text bg-warning" style="padding: 4px; border-radius: 5px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    Soon our team will contact you on the given phone number to specify payment and delivery options!
                </p>
            }

        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h2 class="card-subtitle">Order Infomation:</h2>
            <p class="card-title"><span class="fw-bold">Order Title:</span> @Model.Order.Title</p>
            <p class="card-title"><span class="fw-bold">Order Description:</span> @Model.Order.Description</p>
            <p class="card-text"><span class="fw-bold">Date of Creation:</span> @Model.Order.CreatedOn</p>
            <p class="card-text btn-primary p-2"><span class="fw-bold">Status:</span> @Model.Order.Status</p>
            <p class="card-text"><span class="fw-bold">Customer Phone Number:</span> @Model.Order.CustomerPhoneNumber</p>
            <p class="card-text"><span class="fw-bold">Customer Email:</span> @Model.Order.CustomerEmail</p>
            <label class="d-block"><span class="fw-bold">Included Parts:</span></label>
            @foreach (var part in Model.Order.Parts)
            {
                <div class="card" style="margin: 5px">
                    <label class="card-title"><span class="fw-bold">@part.Name</span></label>
                    <p class="card-text">@part.PartMaterial @part.PartThickness mm - @part.Quantity pcs</p>
                    <form asp-controller="Part" asp-action="DownloadScheme" asp-route-schemeUrl="@part.SchemeUrl" method="post">
                        <button class="btn-sm btn-info" type="submit">Download Part Scheme</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
